<div class="d-flex" id="wrapper">
   <!-- Sidebar -->
   <div class="bg-light border-right sidebarwrappercolor" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
     <div class="sidebarwrappercolor sidebar-heading text-light fw-bold">FreshProps</div>
     <div class="sidebarwrappercolor text-light fw-bold list-group list-group-flush">
       <a routerLink="component-a" class="sidebarwrappercolor list-group-item list-group-item-action text-light bg-light">Component-A</a>
       <a routerLink="component-b" class="text-light sidebarwrappercolor list-group-item list-group-item-action bg-light">Component-B</a>
       <a routerLink="dropdown" class="text-light sidebarwrappercolor list-group-item list-group-item-action bg-light">DropDown-list</a>
       <a routerLink="fetch" class="text-light sidebarwrappercolor list-group-item list-group-item-action bg-light">Fetch</a>
       <a routerLink="login" class="text-light sidebarwrappercolor list-group-item list-group-item-action bg-light">Login</a>
       <a routerLink="piechart" class="text-light sidebarwrappercolor list-group-item list-group-item-action bg-light">Pie-chart</a>
       <a routerLink="barchart" class="text-light sidebarwrappercolor list-group-item list-group-item-action bg-light">Bar-chart</a>
       <a routerLink="linechart" class="text-light sidebarwrappercolor list-group-item list-group-item-action bg-light">Line-chart</a>
       <a routerLink="modal" class="text-light sidebarwrappercolor list-group-item list-group-item-action bg-light">Modal</a>
       <a routerLink="currency" class="text-light sidebarwrappercolor list-group-item list-group-item-action bg-light">Currency-mask</a>
       <a routerLink="display" class="text-light sidebarwrappercolor list-group-item list-group-item-action bg-light">Display</a>
     </div>
   </div>
   <!-- /#sidebar-wrapper -->
   <!-- Page Content -->
   <div id="page-content-wrapper">
     <nav class="customNav text-light fw-bold navbar navbar-expand-lg navbar-light">
      
       <div class="container-fluid">
         <button class="btn btn-light text-light" (click)="clickEvent()"><i class="bi bi-arrow-down-right-circle-fill"></i></button>
         <a><i class="bi bi-arrow-down-right-circle-fill"></i></a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
               <a class="nav-link text-light fw-bold active" aria-current="page" >Home</a>
             </li>
             <li class="nav-item">
               <a class="text-light fw-bold nav-link" >Link</a>
             </li>
             <li class="nav-item dropdown">
               <a class="text-light fw-bold nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Dropdown
               </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <li><a class="text-light fw-bold dropdown-item" >Action</a></li>
                 <li><a class="text-light fw-bold dropdown-item" >Another action</a></li>
                 <li><hr class="text-light fw-bold dropdown-divider"></li>
                 <li><a class="text-light fw-bold dropdown-item" href="#">Something else here</a></li>
               </ul>
             </li>
           </ul>
           <form class="d-flex">
             <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-light" type="button">Search</button>
           </form>
         </div>
       </div>
     </nav>
     <div class="container-fluid">
       <!-- <app-dropdown-list></app-dropdown-list> -->
       <!-- <app-card></app-card> -->
       <!-- <a routerLink="component-a">component-a</a><br/>
       <a routerLink="component-b">component-b</a><br/>
       <a routerLink="">Home</a> -->
       <router-outlet></router-outlet>

       <!-- <div *ngFor="let data of newData.data">
        {{data.id}}
       </div> -->
     </div>
   </div>
   <!-- /#page-content-wrapper -->
 </div>

 <!-- /#wrapper -->







    

