.main-login-container{
   background-color: #645CBB;
   margin: 1rem;
   padding: 0.5rem;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   height: 300px;
}
.login-container{
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
}
.login-container input{
    border-radius: 10px;
    box-shadow: none;
    padding: 5px;
}

.login-container label{
    margin-right: 5px;
    font-size: large;
}

.login-container button{
   
}
