<div class="main-login-container">

    <div class="login-container">

        <div>
            <label for="userName" class="fw-bold text-light">username: </label><br>
            <input id="userName" type="text" required>
        </div>
        <div>
            <label id="labelForPassword" class="fw-bold text-light">password:</label><br>
            <input id="labelForPassword" type="password" required>
        </div>
        
            <button type="button" class="btn btn-light fw-bold">Login</button>

    </div>
  
</div>